<%= flash[:notice] %>
<%= flash[:message] %>

<p>
  <strong>本のタイトル</strong>
  <span><%= @book.title %></span>
</p>

<p>
  <strong>感想</strong>
  <span><%= @book.body %></span>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>|
<a href="/books">Back</a>